<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>

    <button id="connect_button">Connect with Sockets</button>
    <input type="text" id="text_field">
    <button id="send_button">Send Message to ws</button>
    <script>
        var ws;
        $('#connect_button').click(function () {
            ws = new WebSocket('ws://localhost:8000/market');
        });
        $('#send_button').click(function () {
            message = $('#text_field').val();
            ws.send(
                JSON.stringify({
                    "message": message
                })
            )
        })
    </script>
</body>
</html>